.footer {
    background-color: $greyE;
    padding: 40px 15px 40px;
    color: $footertextgrey;
    margin-top: 20px;
    &__menus {
        display: block;
        font-size: 0;
        margin-right: -36px;
        margin-bottom: 40px;
        @include w1023 {
            margin-right: 0;
        }
        @include w479 {
            text-align: center;
        }
    }
    &__menu {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        width: 100%;
        max-width: 25%;
        @include w1023 {
            max-width: 50%;
            margin-bottom: 50px;
        }
        @include w479 {
            max-width: 90vw;
            margin-bottom: 0;
        }
        &--active {
            margin-bottom: 50px;
            & .footer__menuInner {
                display: block;
            }
        }
        &Inner {
            @include w479 {
                display: none;
            }
        }
        &Title {
            margin-bottom: 30px;
            @include w1023 {
                margin-bottom: 20px;
            }
            @include w479 {
                cursor: pointer;
                font-size: 20px !important;
            }
        }
        &Item {
            margin-top: 20px;
            & > .map {
                font-size: 18px;
                color: #000;
            }
        }
    }
    &__signature {
        display: flex;
        justify-content: space-between;
        @include w1023 {
            flex-direction: column;
            align-items: center;
        }
    }
    &__payment {
        max-width: 230px;
        width: 100%;
        @include w1023 {
            flex: 1 50%;
            max-width: 50%;
            max-width: 100%;
            margin-bottom: 25px;
        }
        &Text {
            color: $black !important;
            font-size: 20px;
            margin-right: 20px;
            margin-bottom: 10px;
            @include w1023 {
                margin-right: 0;
                flex: 1 100%;
                text-align: center;
                margin-bottom: 20px
            }
        }
        &Link {
            &s {
                width: 100%;
                margin: auto;
                margin-bottom: -10px;
                @include minw1024 {
                    margin-left: -5px;
                }
            }
            display: inline-block;
            max-width: 100px;
            width: 100%;
            max-height: 27px;
            height: 100%;
            margin-bottom: 10px;
            overflow: hidden;
            min-width: 110px;
            padding: 0 5px;
        }
        &Item {
            margin-left: -8px;
            height: 27px;
            @include w1023 {
                margin-left: 0;
            }
        }
    }
    &__developmentCompany {
        font-size: 16px !important;
        @include w1023 {
            flex: 1 50%;
            max-width: 50%;
            text-align: center;
            margin-bottom: 10px;
            max-width: 100%;
        }
    }
    &__agreement {
        &Link {
            text-align: center;
            display: flex;
        }
        @include w1023 {
            order: 3;
        }
    }
    &__copyright {
        text-align: center;
        margin-top: 10px;
        &Year {
            margin-left: 4px;
        }
    }
}