.isHome {
    & .header {
        margin-bottom: 60px;
    }
}

.header {
    &__topLine {
        background-color: $grey;
        height: 40px;
        & * {
            color: $textgrey;
        }
        &>.totalWidth {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__shopInfo {
        display: flex;
        align-items: center;
        &>p,
        h3 {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__navigation {
        display: flex;
        &Item {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__mainContent {
        margin: 40px auto 25px auto;
        &>.totalWidth {
            display: flex;
            justify-content: space-between;
            overflow: visible;
        }
    }
    &__menu {
        display: flex;
        position: relative;
        width: 260px;
        height: 50px;
        &List {
            display: none;
            flex-direction: column;
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 2222222;
            min-width: 100%;
            width: auto;
            &--active {
                display: flex;
            }
        }
        &Item {
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 13px;
            background-color: #f6f6f6;
            border: solid .5px #f1f1f1;
            cursor: pointer;
            position: relative;
            &After {
                position: absolute;
                display: none;
                right: -2px;
                top: 50%;
                transform: translate(100%, -50%);
                border: 6px solid transparent;
                border-left: 12px solid $indigoLight;
            }
            &:hover {
                background-color: $indigoLight;
                border-color: $indigoLight;
                color: $white;
            }
        }
    }
    &__subMenu {
        display: none;
        width: 260px;
        border: solid 1px #adadad;
        flex-direction: column;
        position: absolute;
        top: -1px;
        right: -1px;
        transform: translateX(100%);
        background-color: $white;
        &Item {
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 13px;
            cursor: pointer;
            color: $black;
            &:hover {
                background-color: #f6f6f6;
            }
        }
    }
    &__catalog {
        display: flex;
        &Btn {
            width: 260px;
            height: 50px;
            border-radius: 4px;
            border: solid 2px #5e2eb4;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            padding: 0 18px;
            background-color: transparent;
            font-size: 20px;
            cursor: pointer;
            &Pic {
                margin-right: 15px;
                max-width: 20px;
                height: 16px;
            }
        }
        &Item {
            max-width: 130px;
            padding: 0 10px 0 0;
            &Pic {
                max-height: 100%;
                width: auto;
                margin: auto;
                &Box {
                    height: 80px;
                    max-width: 90px;
                    margin: 0 auto;
                    display: flex;
                    padding: 5px 0;
                }
            }
            &Name {
                color: $black;
                text-align: center;
                word-wrap: break-word;
                &:hover {
                    color: red;
                }
            }
        }
        &Link {
            display: flex;
            flex-direction: column;
        }
    }
}