@import './common/_const.scss';
@import './common/item/*scss';
@import './pages-section/**/*.scss';
@import './_header.scss';
@import './_footer.scss';
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

svg {
    max-width: 100%;
    max-height: 100%;
}

button {
    cursor: pointer;
}

input,
button,
textarea {
    outline: none;
}

.isHome {
    & h1.title--lg {
        text-align: center;
    }
}

h1.title--lg {
    font-size: 36px;
    padding: 1.65em 0 1.12em 0;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: left;
    line-height: 1 !important;
    @include w768 {
        font-size: 30px;
    }
    @include w480 {
        font-size: 26px;
    }
}

h2.title--bg {
    font-size: 28px;
    @include w768 {
        font-size: 24px;
    }
    @include w480 {
        font-size: 20px;
    }
}

h3.title--md {
    font-size: 20px;
    color: $black;
    @include w768 {
        font-size: 18px;
    }
    @include w480 {
        font-size: 17px;
    }
}

html {
    font: 16px 'RobotoRegular' !important;
    min-width: 320px;
    width: 100%;
    height: auto;
    position: relative;
    @include w768 {
        font-size: 15px !important;
    }
}

body {
    min-width: 307px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    line-height: 1.2 !important;
}

.mainContent {
    flex: 1;
}

.totalWidth {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
    @include w600 {
        padding: 0 15px;
    }
}

.textUppercase {
    margin: 0 4px;
    text-transform: uppercase;
}

.backToShop {
    color: $textgrey;
    border-bottom: 1px solid $catalogBorder;
}

.backToSite {
    @extend .button--indigo;
    border-color: $catalogBorder;
    padding: 14.5px 44.86px;
}

// jquery style
.catalog__optionsItemSlider {
    display: block;
    width: 100%;
    height: 8px;
    max-width: 100%;
    position: relative;
    background-color: #adadad;
    margin: 20px 0;
}

.ui-slider-range {
    height: 100%;
    background-color: #efefef;
}

.ui-slider-handle {
    width: 16px;
    height: 16px;
    background-color: $indigo;
    display: block;
    position: absolute;
    top: 50%;
    outline: none;
    transform: translate(-50%, -50%);
}