@import './common/_const.scss';
@import './common/item/*scss';
@import './pages-section/**/*.scss';
@import './_header.scss';
@import './_footer.scss';
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

svg {
    max-width: 100%;
    max-height: 100%;
}

button {
    cursor: pointer;
}

input,
button,
textarea {
    outline: none;
}

.isHome {
    & h1.title--lg {
        text-align: center;
    }
}

h1.title--lg {
    font-size: 36px;
    padding: 60px 0 40px 0;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: left;
    line-height: 1 !important;
}

h2.title--bg {
    font-size: 28px;
}

h3.title--md {
    font-size: 20px;
    color: $black;
}

html {
    font: 16px 'RobotoRegular' !important;
    min-width: 320px;
    width: 100%;
    height: auto;
}

body {
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    line-height: 1.2 !important;
}

.mainContent {
    flex: 1;
}

.totalWidth {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

.textUppercase {
    margin: 0 4px;
    text-transform: uppercase;
}