block footer
    footer.footer
        .totalWidth
            -
                var menus = [
                    {
                        title: 'Адрес',
                        menuItem: [
                            '350018, г. Краснодар',
                            'Ул. Северная 236/2',
                            'Этаж 3 - Офис 29'
                        ]
                    },
                    {
                        title: 'Контакты',
                        menuItem: [
                            'Время работы:',
                            'Пн-Вс, 9:00 - 18:00',
                            '8 928 215-18-18',
                            'E-male: Lux.led@mail.ru'
                        ]
                    },
                    {
                        title: 'Компания',
                        menuItem: [
                            'О нас',
                            'Партнёрам',
                            'Покупателям',
                            'Сертификаты'
                        ]
                    },
                    {
                        title: 'Покупателям',
                        menuItem: [
                            'Доставка и оплата',
                            'Обмен и возврат',
                            'Гарантия',
                            'Договор оферты',
                            'Каталоги',
                            'Разработка и продвижение'
                        ]
                    }
                ]

            .footer__menus
                each m, key in menus
                    .footer__menu
                        h3.title--md.footer__menuTitle= m.title
                        ul.footer__menuInner
                            each i, key2 in m.menuItem
                                if key == 1 && key2 == 2
                                    li.footer__menuItem
                                        a(href="#").footer__menuLink
                                            h2.title--bg.shopPhone= i
                                else
                                    li.footer__menuItem
                                        a(href="#").footer__menuLink= i

            .footer__signature
                .footer__payment
                    p.footer__paymentText Мы принимаем
                    a(href="#").footer__paymentLink
                        +svgMix('footer__paymentItem', 'visa')
                .footer__agreement
                    a(href="#").footer__agreementLink Соглашение об обработке перснональных данных
                    .footer__copyright Copyright ©
                        span.footer__copyrightYear 2017
                p.footer__developmentCompany Разработка и продвижение
                    span.textUppercase BLAZE