block slider
    .slider
        .slider__info
            h1.title--lg Luxled - официальный дилер arlight
            //- пока что убрали
            //- .slider__infoText
            //-     h1.title--lg Luxled
            //-     p офицальный дилер
            //-         span.textUppercase arlight

        .slider__slideBox
            ul.slider__slideItems
                li.slider__slide
                    img(src="assets/img/slider/1.jpg", alt="slide")
                li.slider__slide
                    img(src="assets/img/slider/2.jpg", alt="slide")
                li.slider__slide
                    img(src="assets/img/slider/3.jpg", alt="slide")
            
            ul.slider__slideNavigation
                li.slider__slideNavigationItem.slider__slideNavigationItem--active
                li.slider__slideNavigationItem
                li.slider__slideNavigationItem
        
        .slider__logo
            img(src="assets/img/slider/slider-logo.png", alt="slider logo")