block slider
    .slider
        .slider__info
            h1.title--lg Luxled - официальный дилер arlight

        .slider__slideBox.swiper-container.swiper2
            ul.slider__slideItems.swiper-wrapper
                li.slider__slide.swiper-slide
                    img(src="assets/img/slider/1.jpg", alt="slide")
                li.slider__slide.swiper-slide
                    img(src="assets/img/slider/2.jpg", alt="slide")
                li.slider__slide.swiper-slide
                    img(src="assets/img/slider/3.jpg", alt="slide")
            
            ul.swiper-pagination
        
        .slider__logo
            img(src="assets/img/slider/slider-logo.png", alt="slider logo")