block slider
    .slider
        //- .slider__info
        //-     h1.title--lg Luxled - официальный дилер arlight

        .slider__slideBox.swiper-container.swiper2
            .slider__slideItems.swiper-wrapper
                a.slider__slide.swiper-slide
                    img(src="assets/img/slider/1.jpg", alt="slide")
                a(href="http://luxled23.ru/catalog/alyuminievye-profili-/arlight-arh/profil-arh-/profil-arh-bent-w11-2000-anod-/").slider__slide.swiper-slide
                    img(src="assets/img/slider/2.jpg", alt="slide")
                a(href="http://luxled23.ru/catalog/svetodiodnye-svetilniki-/potolochnye-nakladnye-podves-/kollektsiya-tor-/").slider__slide.swiper-slide
                    img(src="assets/img/slider/3.jpg", alt="slide")
                a(href="http://luxled23.ru/catalog/bloki-pitaniya-/ac-dc-istochniki-napryazheniya-12v-/v-zashchitnom-kozhukhe-ip20-/").slider__slide.swiper-slide
                    img(src="assets/img/slider/4.jpg", alt="slide")
                a(href="http://luxled23.ru/catalog/upravlenie-svetom-/seriya-sr-lux-rgb-rgbw-dim-/sr-1009-pulty-rgb-rgbw-dim-/sensornyy-pult-sr-2858z4-5ch-rgb-cct-4-zony-/").slider__slide.swiper-slide
                    img(src="assets/img/slider/5.jpg", alt="slide")
                a(href="http://luxled23.ru/catalog/upravlenie-svetom-/seriya-ln-vt-ct-rgb-rgbw-dim-/rgbw-komplekt-s-pultom-/kontroller-vt-s17-4x6a-12-24v-pdu-oval-rf-/").slider__slide.swiper-slide
                    img(src="assets/img/slider/6.jpg", alt="slide")
                a(href="http://luxled23.ru/catalog/svetodiodnye-prozhektory-/arkhitekturnye-/floodlight-ugol-70-120-/").slider__slide.swiper-slide
                    img(src="assets/img/slider/7.jpg", alt="slide")
                a(href="http://luxled23.ru/catalog/upravlenie-svetom-/seriya-sr-lux-rgb-rgbw-dim-/sr-1009-paneli-rgb-rgbw-dim-/").slider__slide.swiper-slide
                    img(src="assets/img/slider/8.jpg", alt="slide")
                a(href="http://luxled23.ru/catalog/svetodiodnye-svetilniki-/potolochnye-nakladnye-podves-/nakladnye-rondo-/").slider__slide.swiper-slide
                    img(src="assets/img/slider/9.jpg", alt="slide")
                a(href="http://luxled23.ru/catalog/bloki-pitaniya-/ac-dc-istochniki-napryazheniya-12v-/germetichnye-ip65-ip67-metall-/blok-pitaniya-arpv-lg12480-pfc-adj-s-12v-40-0a-480w-/").slider__slide.swiper-slide
                    img(src="assets/img/slider/10.jpg", alt="slide")
            ul.swiper-pagination
        
        //- .slider__logo
        //-     img(src="assets/img/slider/slider-logo.png", alt="slider logo")