$white: #fff;
$black: #000;
$grey: #f0f0f0;
$greyF4: #f4f4f4;
$greyF5: #f5f5f5;
$greyE: #eee;
$textgrey: #676767;
$footertextgrey: #636363;
$catalogGrey: #616161;
$catalogBorder: #979797;
$greyEF: #efefef;
$borderError: #ff0000;
$blue: #0076ff;
$indigo: #5126ab;
$indigoLight: #6734ba;