extends ../_template

block variables
    - var bodyClass = 'isHome';

block content
    main.mainContent

        .totalWidth
            block slider
                include ../common/_slider.pug
        
        .popularModels
            .totalWidth
                h1.title--lg ПОПУЛЯРНЫЕ МОДЕЛИ
                .popularModels__items
                    .popularModels__item--lg
                        .popularModels__itemPic
                            img(src="assets/img/popularModels/2.png", alt="popular model photo")
                        .popularModels__itemInfo
                            p.popularModels__itemName Лента RT 2-5000 12V Yellow
                            p.product__price 99,80
                                span.product__currency &#8381
                    .popularModels__item--md
                        .popularModels__itemPic
                            img(src="assets/img/popularModels/1.png", alt="popular model photo")
                        .popularModels__itemInfo
                            p.popularModels__itemName Блок питания ХХХХХХХХ
                            p.product__price 1000
                                span.product__currency &#8381
                    .popularModels__item--smGrey
                        .popularModels__itemPic
                            img(src="assets/img/popularModels/3.png", alt="popular model photo")
                        .popularModels__itemInfo
                            p.popularModels__itemName Пульт управления
                            p.product__price 500
                                span.product__currency &#8381
                    .popularModels__item--sm
                        .popularModels__itemPic
                            img(src="assets/img/popularModels/4.jpg", alt="popular model photo")
                        .popularModels__itemInfo
                            p.popularModels__itemName Алюминиевый Профиль PDS-ZM-2000 ANOD
                            p.product__price 200
                                span.product__currency &#8381
                
        
        
        .portfolio
            .totalWidth
                h1.title--lg Портфолио
                ul.portfolio__itemBox
                    li.portfolio__item
                        img(src="assets/img/portfolio/1.jpg", alt="portfolio photo")
                    li.portfolio__item
                        img(src="assets/img/portfolio/2.jpg", alt="portfolio photo")
                    li.portfolio__item
                        img(src="assets/img/portfolio/3.jpg", alt="portfolio photo")
        .aboutCompany
            .totalWidth
                h1.title--lg О компании
                .aboutCompanyBox
                    .aboutCompany__photo
                        img(src="assets/img/our-company-photo.jpg", alt="photo our company")
                    .aboutCompany__text.
                        Как светодиодное освещение улучшает настроение и здоровье
                        У большинства людей есть врожденное понимание того, как
                        освещение окружающей среды может влиять на общее настроение. 
                        Они устанавливают диммерные переключатели в столовые и другие 
                        помещения своих домов, чтобы сделать более уютный вид, немного 
                        приглушая свет. В темные зимние дни в северном климате терапевты 
                        даже рекомендуют специальное полномасштабное освещение, 
                        которое имитирует солнечный свет, чтобы облегчить симптомы 
                        сезонного аффективного расстройства. Современные светодиодные 
                        системы освещения теперь поднимают эту связь между светом и 
                        настроением до следующего уровня. Инженеры по освещению 
                        ежедневно экспериментируют со светодиодным освещением, 
                        которое напрямую улучшает настроение и физическое здоровье с 
                        помощью усовершенствованной оптики, светорассеивателей и 
                        цветовой температуры освещения.
    