extends ../_template

block variables
    - var bodyClass = 'isHome';

block content
    main.mainContent

        .totalWidth
            block slider
                include ../common/_slider.pug
        
        .popularModels
            .totalWidth
                h1.title--lg ПОПУЛЯРНЫЕ МОДЕЛИ
                .popularModels__items
                    .popularModels__item--lg
                        a(href="http://luxled23.ru/catalog/svetodiodnye-lenty-/lenty-normaled-/otkrytye-rt2-12v-3528-/lenta-rt2-3528-120-12v-white-600-led-/").popularModels__itemPic
                            img(src="assets/img/popularModels/1.png", alt="popular model photo")
                        .popularModels__itemInfo
                            h3.title--md.popularModels__itemName Лента RT 2-5000 12V RGB 2X
                            p.popularModels__itemModel (5060, 300 LED, LUX)
                    .popularModels__item--md
                        a(href="http://luxled23.ru/catalog/bloki-pitaniya-/ac-dc-istochniki-napryazheniya-12v-/v-zashchitnom-kozhukhe-ip20-/blok-pitaniya-aps-60-12bm-12v-5a-60w-/").popularModels__itemPic
                            img(src="assets/img/popularModels/2.png", alt="popular model photo")
                        .popularModels__itemInfo
                            h3.title--md.popularModels__itemName Блок питания APS-100-12BM
                            p.popularModels__itemModel (12V, 8.3A, 100W)
                    .popularModels__item--smGrey
                        a(href="http://luxled23.ru/catalog/upravlenie-svetom-/seriya-ln-vt-ct-rgb-rgbw-dim-/dimmery-mix-komplekt-s-pultom-/dimmer-ln-rf3b-12-24v-96-192w-pdu-brelok-3kn-/").popularModels__itemPic
                            img(src="assets/img/popularModels/3.png", alt="popular model photo")
                        .popularModels__itemInfo
                            h3.title--md.popularModels__itemName Контроллер LN-RF8B
                            p.popularModels__itemModel (5-24V,120-576W,ПДУ сенсор 2.4G)
                    .popularModels__item--sm
                        a(href="http://luxled23.ru/catalog/alyuminievye-profili-/klus/profil-klus-/alyuminievyy-profil-mic-2000-/").popularModels__itemPic
                            img(src="assets/img/popularModels/4.png", alt="popular model photo")
                        .popularModels__itemInfo
                            h3.title--md.popularModels__itemName Профиль
                            p.popularModels__itemModel ARH-KANT-H16-2000 ANOD
                
        
        
        .portfolio
            .totalWidth
                h1.title--lg Портфолио
                ul.portfolio__itemBox
                    li.portfolio__item
                        img(src="assets/img/portfolio/1.jpg", alt="portfolio photo")
                    li.portfolio__item
                        img(src="assets/img/portfolio/2.jpg", alt="portfolio photo")
                    li.portfolio__item
                        img(src="assets/img/portfolio/3.jpg", alt="portfolio photo")
        

        .whyWe.totalWidth
            h1.title--lg ПОЧЕМУ МЫ?
            ul.whyWe__beliefs
                -
                    var whyItems = [
                        'Высокое качество продукции',
                        'Большой ассортимент светодиодной продукции',
                        'Оптовая и розничная продажа продукции ARLIGHT',
                        'Индивидуальный подход к каждому клиенту',
                        'Доставка в любой регион'
                    ]
                each item, key in whyItems
                    li.whyWe__belief
                        .whyWe__beliefPicBox
                            img(src="assets/img/whyWe/"+(key+1)+".png", alt="whyWe belief picture").whyWe__beliefPic
                        h3.whyWe__beliefText.title--md= item