extends ../_template

block content
    main.mainContent
        .orders.totalWidth

            h1.orders__title.title--lg КОРЗИНА ТОВАРОВ

            .orders__items
                .orders__item
                    .orders__itemPhotoBox
                        img(src="assets/img/catalogProduct.png", alt="?").orders__itemPhoto
                    .orders__itemInfo
                        .orders__itemDivision Лента светодиодная
                        h3.title--md.orders__itemName Светодиодная лента открытая 3528-60-12V
                        h3.title--md.orders__itemModel Warm White 4,8Вт/м (300 LED)
                    block counter
                        include ../common/counter
                    .orders__itemPriceBox
                        .orders__itemPriceAll 1000 ₽                            
                        .orders__itemCounter 1 шт. х 1 000
                        .orders__itemDelete удалить
                .orders__item
                    .orders__itemPhotoBox
                        img(src="assets/img/catalogProduct.png", alt="?").orders__itemPhoto
                    .orders__itemInfo
                        .orders__itemDivision Лента светодиодная
                        h3.title--md.orders__itemName Светодиодная лента открытая 3528-60-12V
                        h3.title--md.orders__itemModel Warm White 4,8Вт/м (300 LED)
                    block counter
                        include ../common/counter
                    .orders__itemPriceBox
                        .orders__itemPriceAll 1000 ₽                            
                        .orders__itemCounter 1 шт. х 1 000
                        .orders__itemDelete удалить
            form.orders__form
                h2.title--bg.orders__formErrorTitle Заполните все поля со звездочкой *
                label.orders__formItem--require
                    span.orders__formItemTitle Ф.И.О *
                    input(type="text" name="name" placeholder="Иван Иванович Иванов")
                label.orders__formItem--require
                    span.orders__formItemTitle Телефон *
                    input(type="numb" name="phone" placeholder="+7(___) ___-__-__")
                label.orders__formItem--require
                    span.orders__formItemTitle E-mail *
                    input(type="email" name="mail" placeholder="Ivanov@yandex.ru")
                label.orders__formItem
                    span.orders__formItemTitle Коментарий
                    textarea(name="message")
                .orders__formTotal
                    p.orders__formTotalText Итого: 8 000 ₽
                .orders__formOrder
                    button.orders__formOrderBtn Подтвердить заказ