extends ../_template

block content

    - var sequence = ['Каталог', 'Светодиодные ленты']
    +breadCrumbs(sequence, 'totalWidth')

    main.mainContent
        .productMore.totalWidth

            h3.productMore__name.title--md Светодиодная лента открытая 3528-60-12V Warm White 4,8Вт/м (300 LED)
            p.productMore__article Артикул: №39488537

            .productMore__detailBox
                .productMore__detail
                    .productMore__photo
                        img(src="/assets/img/catalogProduct.png", alt="product photo")

                    .productMore__priceRegular
                        .productMore__priceAll
                            h1.title--lg Цена: 500 ₽
                        .productMore__priceCounter
                            block counter
                                include ../common/counter.pug
                            a(href="#").productMore__buy Купить
                        .productMore__priceSaveBlock
                            a(href="#").productMore__priceSaveBlockBtn Скачать PDF

                table.productMore__characteristics
                    -
                        var tableItem = [
                            {title: 'Корпус (форма)', val: 'Открытый'},
                            {title: 'Класс пыле-влагозащиты', val: 'IP20'},
                            {title: 'Размер (тип) светодиода 3528', val: '\(3.5x2.8мм\)'},
                            {title: 'Плотность светодиодов', val: '60'},
                            {title: 'Напряжение питания, В', val: '12'},
                            {title: 'Угол обзора, гр', val: '120'},
                            {title: 'Мощность, Вт', val: '24'},
                            {title: 'Световой поток, Лм', val: '900 / 1200'},
                            {title: 'Артикул	N70024', val: 'Цветовая температура, K3200'},
                            {title: 'Количество светодиодов', val: '300 шт'},
                            {title: 'Длина', val: '5 000 мм'},
                            {title: 'Цвет свечения', val: 'Белый (теплый)'},
                            {title: 'Потребляемый ток, А', val: 'typ: 2 A'},
                            {title: 'Ширина', val: '8 мм'}
                        ]
                    thead
                        tr.productMore__characteristicsTableRow
                            td.productMore__characteristicsTableColl Характеристики
                    each i in tableItem
                        tr.productMore__characteristicsTableRow
                            td.productMore__characteristicsTableColl= i.title
                            td.productMore__characteristicsTableColl= i.val