extends ../_template

block content

    - var sequence = ['Каталог', 'Светодиодные ленты']
    +breadCrumbs(sequence, 'totalWidth')

    main.mainContent
        .productMore.totalWidth

            h3.productMore__name.title--md Светодиодная лента открытая 3528-60-12V Warm White 4,8Вт/м (300 LED)
            p.productMore__article Артикул: №39488537

            .productMore__detailBox
                .productMore__detail
                    .productMore__photo
                        img(src="/assets/img/catalogProduct.png", alt="product photo")

                    .productMore__priceRegular
                        .productMore__priceAll
                            h1.title--lg Цена: 500 ₽
                        .productMore__priceCounter
                            block counter
                                include ../common/counter.pug
                            a(href="#").productMore__buy Купить
                        .productMore__priceSaveBlock
                            a(href="#").productMore__priceSaveBlockBtn Скачать PDF

                table.productMore__characteristics
                    -
                        var tableItem = [
                            {title: "Артикул", val: "019916"},
                            {title: "Цвет", val: "Белый  (холодный)"},
                            {title: "Тип товара", val: "Лента"},
                            {title: "Цветовая температура", val: "min: 8 000 K; max: 9 000 K"},
                            {title: "Световой поток, общий", val: "max: 1 270 lm"},
                            {title: "Световой поток, 1м", val: "max: 250 lm/m"},
                            {title: "Угол обзора", val: "120 °"},
                            {title: "Напряжение питания", val: "24 V"},
                            {title: "Кол-во светодиодов", val: "150 шт"},
                            {title: "Максимальная мощность", val: "15 W"},
                            {title: "Размер светодиода", val: "3528 (3.5x2.8мм)"},
                            {title: "Плотность светодиодов", val: "30 шт/м"},
                            {title: "Длина", val: "5 000 мм"},
                            {title: "Высота", val: "2 мм"},
                            {title: "Минимальный отрезок", val: "167 мм"},
                            {title: "Ширина", val: "8 мм"},
                            {title: "Потребляемый ток", val: "typ: 0,6 A"},
                            {title: "Индекс цветопередачи", val: ">85"},
                            {title: "Класс пылевлагозащиты", val: "IP33"},
                            {title: "Потребляемая мощность, общая", val: "min: 12,5 W; max: 15 W"},
                            {title: "Потребляемая мощность, 1м", val: "min: 2,5 W/m; max: 3 W/m"},
                            {title: "Вес", val: "0.124 кг"},
                            {title: "Производитель", val: "Arlight"}
                        ]
                    thead
                        tr.productMore__characteristicsTableRow
                            td.productMore__characteristicsTableColl Параметр
                            td.productMore__characteristicsTableColl Значение
                    each i in tableItem
                        tr.productMore__characteristicsTableRow
                            td.productMore__characteristicsTableColl= i.title
                            td.productMore__characteristicsTableColl= i.val