extends ../_templateOnlyContent

block content
    .thankBlock
        .thank
            h2.title--bg.thank__title Спасибо за покупку.
            h3.title--md.thank__orderNumer Ваш № закза ХХХХХХХХХ.
            .thank__caption.
                Спасибо за то, что выбрали нас. Если у Вас вознили какие-либо вопросы или предложения относительно 
                вашего заказа или нашей работы, можете позвонить 
                или написать нам.
            .thank__phone
                p.thank__phoneText Телефон
                h2.title--bg.shopPhone 8 (928) 215-18-18
            .thank__mail
                p.thank__mailText Почта
                h3.title--md.shopMail  Lux.led@mail.ru
            h3.title--md.thank__wait Ждем вас снова в нашем магазине.
            a(href="/").backToSite Вернутся на сайт