.button {
    &--indigo {
        color: $white;
        background: $indigo;
        border: 1px solid $black;
        border-radius: 4px;
    }
}

.clear {
    background: transparent;
    border: 1px solid $black;
    border-radius: 4px;
    padding: 5px 15px;
}