.cart {
    flex-basis: 150px;
    height: 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    color: $black;
    position: relative;
    &--haveProduct {
        &>.cart__title {
            display: none;
        }
        &>.cart__number {
            display: block;
        }
    }
    @include w916 {
        max-width: 50px;
        min-width: auto;
    }
    @include w639 {
        order: 2;
        max-width: 40px;
        max-height: 40px;
        margin-top: -4px;
    }
    &__pic {
        width: 55px;
        height: 50px;
        margin-right: 8px;
        flex: 1 1 100%;
        &:hover {
            fill: $indigo;
        }
    }
    &__title {
        max-width: 85px;
        margin-bottom: 3px;
        @include w916 {
            display: none;
        }
    }
    &__number {
        display: none;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        position: absolute;
        background-color: red;
        border-radius: 50%;
        color: $white;
        overflow: hidden;
        left: 33px;
        bottom: -8px;
    }
}