.pagination {
    width: 100%;
    margin: 45px 0;
    display: flex;
    justify-content: center;
    &__navBtn {
        width: 11px;
        height: 20px;
        cursor: pointer;
        &--prev {
            transform: rotate(180deg);
            margin-right: 20px;
        }
        &--next {
            margin-left: 20px;
        }
    }
    &__pages {
        display: flex;
    }
    &__page {
        margin-left: 20px;
        color: #6e6e6e;
        &--current {
            @extend .pagination__page;
            color: $black;
            border-bottom: 1px solid $black;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}