.portfolio {
    background-color: $greyE;
    padding-bottom: 60px;
    &__item {
        min-width: 360px;
        width: 360px;
        height: 360px;
        overflow: hidden;
        margin-left: 40px;
        @include w1200 {
            min-width: 300px;
            width: 300px;
            height: 300px;
        }
        &:first-child {
            margin-left: 0;
        }
        &Box {
            display: flex;
            overflow: auto;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &>img {
            height: 100%;
            width: auto;
            min-width: 100%;
        }
    }
}