.slider {
    width: 100%;
    height: auto;
    position: relative;
    & .title--lg {
        padding: 0 !important;
        text-transform: none !important;
        text-align: left !important;
        line-height: 1.2;
    }
    &__slide {
        min-width: 100%;
        max-height: 400px;
        position: relative;
        left: 0;
        @include w916 {
            max-height: 350px;
        }
        &Box {
            overflow: hidden;
        }
        &Items {
            display: flex;
        }
        &>img {
            width: 100%;
            height: 100%;
            max-height: 100%;
        }
    }
    &__info {
        padding: 15px 13px 25px 15px;
        z-index: 1;
        width: 400px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        color: rgba($white, 0.9);
        &Text {
            display: none;
        }
        & .title--lg {
            text-transform: uppercase !important;
            line-height: 1.2 !important;
        }
    }
    &__logo {
        position: absolute;
        top: 0;
        right: 50px;
        max-width: 164px;
        width: 100%;
        max-height: 75px;
        height: auto;
        & img {
            width: 100%;
            height: auto;
        }
    }
}

.swiper-pagination-bullets {
    position: absolute;
    bottom: 20px;
    left: 400px;
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    @include w816 {
        left: 50%;
        transform: translateX(-50%);
    }
}

.swiper-pagination-bullet {
    width: 60px;
    height: 6px;
    background-color: #ffffff;
    margin-left: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    @include w816 {
        &:first-child {
            margin-left: 0;
        }
    }
}

.swiper-pagination-bullet-active {
    background-color: #3d3084 !important;
}