.whyWe {
    margin-bottom: 60px !important;
    &__beliefs {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    &__belief {
        max-width: 232px;
        min-width: 232px;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        &Pic {
            width: 80px;
            height: 80px;
            margin: auto;
            &Box {
                width: 100%;
                height: 80px;
                margin-bottom: 38px;
                display: flex;
            }
        }
        &Text {
            text-align: center;
        }
    }
}